body {
  margin: 0;
}
header {
  background-color: blue;
  text-align: center;
  padding: 15px;
}
header > h1 {
  margin: 0;
  color: white;
}

section {
  margin-left: 25px;
}

h2 {
  color: blue;
}

.importante {
  font-weight: bold;
  text-decoration: underline black;
}

ul {
  list-style-type: circle;
  padding-inline-start: 30px;
}

ul > li {
  padding: 5px 0;
}

table {
  padding-left: 15px;
}
thead {
  color: white;
  background-color: blue;
}

th,
td {
  padding: 10px;
}

#descanso {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

tbody > tr:nth-child(even) {
  background-color: rgb(29, 185, 236);
}

tbody > tr:nth-child(odd) {
  background-color: rgb(198, 241, 255);
}

tbody > tr:nth-child(even) > th {
  background-color: rgb(0, 0, 255);
}

tbody > tr:nth-child(odd) > th {
  background-color: rgb(152, 188, 255);
}
